.page {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 2rem;
   margin-bottom: 2rem;
}

.title{
   padding-top: 2rem;
   text-align: center;
   font-size: 3rem;
}

html{
    scroll-behavior: smooth;
    transition-duration: 800ms;
    transition-timing-function: ease;
}
